<% layout("/layouts/boilerplate.ejs") %>

  <body>


    <div class="show-out">
      <div class="show-r">
        <br /><br />
        <h1><b>
            <%= listing.title %>
          </b></h1>

        <div class="card-r">
          <img src="<%= listing.image.url %>" class="card-img-top mb-3" f alt="..." style="height: 20rem" />
          <div class="">
            <h3 class="show_title" style="font-size: 900; font-weight: 400"></h3>
            <br />
            <p>Owned by: <i>
                <%= listing.owner.username %>
              </i></p>
            <p>
              <%= listing.description %>
            </p>
            <p>
              &#8377; <%= listing.price ? listing.price.toLocaleString('en-IN') : 'n/a' %>/night
            </p>
            <p>
              <%= listing.location %>
            </p>
            <p>
              <%= listing.country %>
            </p>
          </div>
        </div>
      </div>

      <% if (currUser && listing.owner._id.equals(currUser._id)) {%>
      <div class="btns">
        <div class="btn btn-danger"><a style="text-decoration: none; color: white"
            href="/listings/<%= listing._id %>/edit">Edit</a></div>

        <br /><br />
        <form method="post" action="/listings/<%= listing._id %>?_method=delete">
          <button class="btn btn-dark">Delete</button>
        </form>
      </div>
      <% } %>

    </div>

    <hr>

    <% if (currUser) {%>
    <div class="row">
      <div class="">
        <h4 class="mb-3">Leave a Comment</h4>
        <form action="/listings/<%= listing._id %>/review" novalidate class="needs-validation" method="post">
          <div>
            <label for="rating" class="form-label">Rating</label>
            <input type="range" class="form-range" min="1" max="5" id="rating" name="review[rating]">
          </div>
          <div>
            <label for="comment" class="form-label">Comments</label>
            <textarea name="review[comment]" required id="comment" cols="30" rows="5" class="form-control"></textarea>
            <div class="invalid-feedback">Please enter comments to submit review</div>
          </div>

          <button class="btn btn-outline-dark mt-3 mb-3">Submit</button>
        </form>
      </div>
      <hr>

      <% } %>
      <p><b>All Reviews:</b></p>

      <div class="row">
        <% for (review of listing.reviews) { %>
          <div class="card col-6   mb-3" style="gap: 1rem;">
            <div class="card-body ">
              <h5 class="card-title"><%= review.author.username %></h5>
              <div class="card-text">
                <%= review.comment %>
              </div>
              <div class="card-text">
                <%= review.rating %> star
              </div>
              <form action="/listings/<%= listing._id %>/review/<%= review._id %>?_method=delete" method="post"
                class="mt-3">
                <button class="btn btn-sm btn-danger">Delete</button>
              </form>
            </div>

          </div>
          <% } %>
      </div>
    </div>


  </body>